@charset "utf-8";
@import url('https://use.typekit.net/qvl5sua.css');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&display=swap');

/*--------------------------------------
  リセット
--------------------------------------*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-style: normal;
  font-weight: normal;
  font-size: 100%;
  vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
menu,
nav,
section {
  display: block;
}

a {
  text-decoration: none;
}

ul,
ol {
  list-style: none;
}

img {
  vertical-align: top;
  border: 0;
}

button {
  font-size: 100%;
}

.clear {
  clear: both;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

input,
textarea {
  max-width: 100%;
  margin: 0;
  padding: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  table-layout: fixed;
}

caption,
th {
  text-align: left;
}

a:focus {
  outline: none;
}

pre {
  overflow: auto;
}
strong {
  font-weight: bold;
}
.s {
  font-size: 80%;
  font-weight: inherit;
}
.ss {
  font-size: 68%;
  font-weight: inherit;
}
.m {
  font-size: 94%;
}
.l {
  font-size: 120%;
  font-weight: inherit;
}
.ll {
  font-size: 150%;
  font-weight: inherit;
}
.xl {
  font-size: 180%;
  font-weight: inherit;
  line-height: 1.1;
}
.bb {
  font-weight: 700;
  font-size: 130%;
}
.b {
  font-weight: 700;
}

span {
  font-weight: inherit;
}

* {
  margin: 0;
  padding: 0;
}
/*--------------------------------------
  クリアフィックス
---------------------------------------*/
.clearfix:after {
  visibility: hidden;
  height: 0;
  display: block;
  font-size: 0;
  content: ' ';
  clear: both;
}

* html .clearfix {
  zoom: 1;
}

*:first-child + html .clearfix {
  zoom: 1;
}

/*--------------------------------------
  画像
--------------------------------------*/
img {
  max-width: 100% !important;
  height: auto;
  transition: all 0.3s ease;
}
/*--------------------------------------
  リンク
--------------------------------------*/
a {
  color: inherit;
  transition: all 0.3s ease;
}

a:hover {
}
/*--------------------------------------
  全体定義
--------------------------------------*/
html {
}
body {
  font-family: 'din-2014', 'Noto Sans JP', 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic ProN',
    'Hiragino Sans', 'BIZ UDPGothic', 'メイリオ', sans-serif;
  color: var(--color-bk);
  font-weight: 400;
  font-size: 15px;
  line-height: 1.8;
  margin: 0;
  padding: 0;
}

:root {
  --color-orange: #f78b0b;
  --color-orange2: #f2672a;
  --color-orange3: #f48e5b;
  --color-beige: #f9f5dd;
  --color-white: #fff;
  --color-yellow: #fff200;
  --color-bk: #222222;
  --color-red: #e50000;
  --color-blue: #3db3e8;
  --color-blue2: #005cff;
  --color-blue3: #dff3f7;
  --color-green: #07b53b;
  --color-green2: #faffeb;
  --color-green3: #baeaa4;
  --color-green4: #127c00;
}

#contents {
  overflow-x: hidden;
}

/*--------------------------------------
  header
--------------------------------------*/
#header {
  background: var(--color-yellow);
  padding: 3px 0;
  text-align: center;
}
#header h1 {
  font-weight: 700;
  font-size: 13px;
}

/*--------------------------------------
  FV
--------------------------------------*/
#fv {
  background-image: url(/images/fv_bg.webp);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% auto;
  padding: 5px 0 30px;
}
.fv_inner {
  width: 95%;
  margin: 0 auto;
  position: relative;
}
.fv_h1 {
  margin: 0 auto 6px;
  width: 70%;
  padding-left: 8%;
}
.fv_h2 {
  display: block;
  margin: 0 auto 15px;
  width: 93%;
}
.fv_net {
  display: block;
  margin: 0 auto;
  width: 52%;
}
.fv_yen {
  display: block;
  margin: 0 auto;
  width: 92%;
}
.cta_ttl_fv {
  background: #fff;
  width: fit-content;
  margin: 0 auto;
  padding: 3px 24px;
  border-radius: 100px;
  font-weight: 600;
  font-size: 14px;
  margin-bottom: 5px;
}
.fv_cta {
  width: 80%;
  margin: 7px auto 0;
  text-align: center;
  position: relative;
  padding-top: 24%;
}

.fv_bike1 {
  position: absolute;
  left: -2%;
  top: 73%;
  width: 50%;
}
.fv_ye_line {
  position: absolute;
  top: 0;
  right: -13%;
  width: 58%;
}

.fv_line_txt {
  text-align: right;
  margin-bottom: 24px;
  font-weight: 600;
  font-size: 120%;
  position: absolute;
  right: -4%;
  top: 0%;
  line-height: 2.26;
}

/*--------------------------------------
  Contents
--------------------------------------*/

.contents_block {
  padding: 40px 0;
  position: relative;
}
.inner {
  width: 90%;
  margin: 0 auto;
  position: relative;
}
.ttl {
  font-size: 8.4vw;
  font-weight: 800;
  text-align: center;
  margin-bottom: 30px;
  line-height: 1.4;
}

.fc_green {
  color: var(--color-green4);
}
.fc_white {
  color: var(--color-white);
}
.fc_yellow {
  color: var(--color-yellow);
}
.fc_red {
  color: var(--color-red);
}
.fc_bk {
  color: var(--color-bk);
}
.fc_blue {
  color: var(--color-blue2);
}

.bg01 {
  background: var(--color-green2);
}
.bg02 {
  background: var(--color-orange);
}
.bg03 {
  background: var(--color-green3);
}
.bg04 {
  background-image: linear-gradient(
    -45deg,
    rgba(255, 255, 255, 0.13) 25%,
    transparent 25%,
    transparent 50%,
    rgba(255, 255, 255, 0.13) 50%,
    rgba(255, 255, 255, 0.13) 75%,
    transparent 75%,
    transparent
  );
  background-size: 20px 20px;
}
.bg05 {
  background-image: linear-gradient(
    -90deg,
    rgba(255, 255, 255, 0.3) 25%,
    transparent 25%,
    transparent 50%,
    rgba(255, 255, 255, 0.3) 50%,
    rgba(255, 255, 255, 0.3) 75%,
    transparent 75%,
    transparent
  );
  background-size: 40px 40px;
}

.bg06 {
  background: var(--color-blue3);
}
.bg07 {
  background: var(--color-beige);
}

.dot::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 200px;
  background: url(/images/bg_dot.webp) no-repeat;
  background-position: center top;
  background-size: cover;
}

.marker_yellow {
  background: linear-gradient(transparent 50%, var(--color-yellow) 50%);
}

/*--------------------------------------
  CTA
--------------------------------------*/
.cta {
  padding: 24px 0;
  position: relative;
}
.cta::before {
  content: '';
  top: 0;
  left: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #82d2f4;
  z-index: -1;
}
.cta_box {
  text-align: center;
  background: #fff;
  border: 2px solid;
  border-radius: 8px;
  position: relative;
  box-sizing: border-box;
  padding-bottom: 24px;
}
.cta_cha {
  position: absolute;
  width: 23%;
  top: -25%;
  left: -4%;
}
.cta_ttl {
  font-weight: 600;
  text-align: center;
  background: var(--color-yellow);
  border: 2px solid;
  border-radius: 50px;
  width: 70%;
  margin: -15px auto 20px;
  box-sizing: border-box;
}

.cta_btn {
  position: relative;
  z-index: 2;
}
.cta .cta_btn {
  width: 90%;
  margin: 0 auto;
}
.cta_btn a {
  position: relative;
  color: #fff;
  background: var(--color-green);
  box-shadow: 0 3px 0 var(--color-bk);
  border: 3px solid var(--color-bk);
  display: flex;
  align-items: center;
  border-radius: 14px;
  font-weight: 600;
  font-size: 5.3vw;
  line-height: 1;
  padding: 15px 0 13px 6%;
  box-sizing: border-box;
}
.cta_btn a::after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  right: 5%;
  width: 18px;
  height: 18px;
  margin: auto;
  background: url(/images/btn_arrow.webp) no-repeat;
  background-position: center;
  background-size: contain;
}
.ico_line {
  width: 10%;
  margin-right: 10px;
}
.cta_txt {
  position: relative;
  width: fit-content;
  margin: 0 auto 5px;
  font-weight: 600;
}
.slash {
  position: relative;
}

.slash::before,
.slash::after {
  content: '';
  position: absolute;
  top: 0;
  left: -2rem;
  width: 25px;
  height: 25px;
  background: url(/images/slash_bk.webp) no-repeat;
  background-position: center;
  background-size: contain;
}
.slash::after {
  left: auto;
  right: -2rem;
  transform: scale(-1, 1);
}
.cta .slash::before,
.cta .slash::after {
  background-image: url(/images/slash_red.webp);
}

/*--------------------------------------
  Area
--------------------------------------*/
ul.area_list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 90%;
  margin: 0 auto 20px;
}

ul.area_list li {
  width: 22.4%;
  text-align: center;
  background: #fc9f77;
  border: 2px solid;
  font-weight: 600;
  font-size: 110%;
}
.map {
  display: block;
  margin: 40px 0 0;
  width: 65%;
}
.area_img {
  position: absolute;
  bottom: 9%;
  right: 0;
  width: 43%;
}

/*--------------------------------------
  thanks_CP
--------------------------------------*/
#thanks_cp {
  background-image: url(/images/exp_bg.webp);
  background-position: center top;
  background-size: 100% auto;
  background-repeat: no-repeat;
  padding-bottom: 40px;
}
#thanks_cp::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #f5eab4;
  z-index: -1;
}
.ttl.cp_ttl3 {
  text-shadow: 0 0 10px #fff, 0 0 10px #fff, 0 0 10px #fff, 0 0 10px #fff, 0 0 10px #fff,
    0 0 10px #fff;
  margin-bottom: 10px;
  line-height: 1.4;
}
.cp_ttl3 {
  text-shadow: 0 0 10px #fff, 0 0 10px #fff, 0 0 10px #fff, 0 0 10px #fff, 0 0 10px #fff,
    0 0 10px #fff;
}
.th_pr_area {
  position: relative;
}
.cha_1 {
  position: absolute;
  width: 41%;
  right: -2%;
  top: 0;
}
.nomal_pr {
  position: relative;
  background: #fff;
  border: 2px solid;
  box-sizing: border-box;
  border-radius: 6px;
  padding: 14px;
  width: fit-content;
  margin-bottom: 20px;
}
.nomal_pr p {
  font-weight: 600;
  line-height: 1.4;
}
.label_off {
  position: absolute;
  width: 42%;
  right: -50px;
  bottom: -29px;
}
.cp_pr {
  font-weight: 600;
  font-size: 140%;
  line-height: 1.4;
}
.cp_txt3 {
  text-align: center;
  font-weight: 600;
  font-size: 122%;
  margin: 10px 0;
}
.cp_pr .ll {
  font-size: 210%;
  line-height: 1.1;
}

.credit {
}
.credit h4 {
  background: #3694e0;
  border: 2px solid #222;
  box-sizing: border-box;
  text-align: center;
  color: #fff;
  padding: 5px 0;
  font-weight: 600;
}
.credit p {
  padding: 10px 0;
  background: #fff;
  border: 2px solid;
  border-top: 0;
  box-sizing: border-box;
}
.credit p img {
  display: block;
  margin: 0 auto;
  width: 70%;
}
/*--------------------------------------
  recommend
--------------------------------------*/
#recommend {
  padding-bottom: 5px;
}

#recommend::after {
  content: '';
  position: absolute;
  top: calc(100% - 1px);
  left: 0;
  width: 100%;
  height: 50px;
  background: var(--color-orange);
  clip-path: polygon(0 0, 100% 0, 50% 100%);
  z-index: 1;
}
.slash.sl_yellow::before,
.slash.sl_yellow::after {
  background-image: url(/images/slash_yellow);
  width: 30px;
  height: 40px;
  left: -2.5rem;
}
.slash.sl_yellow::after {
  left: auto;
  right: -2.5rem;
}

.recommend_area {
  position: relative;
}

ul.check_list li h3 {
  font-weight: 600;
}
.recommend_img2 {
  position: absolute;
  width: 28%;
  bottom: -10%;
  left: 17%;
}
.recommend_img3 {
  position: absolute;
  width: 16%;
  right: -3%;
  top: 36%;
}

.box_white {
  background: #fff;
  border: 2px solid;
  padding: 20px;
  box-sizing: border-box;
  border-radius: 6px;
  margin: 40px 0;
  position: relative;
}
.ttl_ribbon_blue {
  position: absolute;
  top: -20px;
  left: 0;
  right: 0;
  margin: auto;
  width: 94%;
  z-index: 2;
}

.award_txt1 {
  padding: 30px 0 18px;
  font-size: 90%;
  font-weight: 600;
  position: relative;
  z-index: 2;
}
.award_txt2 {
  text-align: center;
  font-size: 150%;
  font-weight: 600;
  margin-bottom: 20px;
}
.trophy {
  position: absolute;
  top: 20px;
  right: 10px;
  width: 36%;
  z-index: 0;
}
.rec_txt1 {
  text-align: center;
  font-size: 108%;
  font-weight: 600;
  margin-bottom: 20px;
}
.ttl_fy.rec_t {
  font-size: 6vw;
  top: 5px;
}

.responsive {
  width: 100%;
  aspect-ratio: 16/9;
}

.item {
  display: block;
  margin: 0 auto;
  width: 70%;
}

/*--------------------------------------
  EXP
--------------------------------------*/
#exp {
  background-image: url(/images/exp_bg.webp);
  background-position: center top;
  background-size: 100% auto;
  background-repeat: no-repeat;
  padding-bottom: 5px;
  padding-top: 80px;
}
#exp::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--color-beige);
  z-index: -1;
}
#exp::after {
  content: '';
  position: absolute;
  top: calc(100% - 1px);
  left: 0;
  width: 100%;
  height: 50px;
  background: var(--color-beige);
  clip-path: polygon(0 0, 100% 0, 50% 100%);
  z-index: 1;
}
.exp {
  position: relative;
}
.exp_txt1 {
  position: absolute;
  top: -19px;
  left: 25%;
  font-weight: 800;
  line-height: 1.3;
  transform: rotate(-3deg);
}
.exp_txt2 {
  position: absolute;
  font-size: 5.8vw;
  font-weight: 800;
  text-align: center;
  line-height: 1.4;
  left: 0;
  right: 0;
  top: 20%;
  margin: auto;
}

/*--------------------------------------
  Why
--------------------------------------*/

#why {
  padding-top: 21%;
}

.why_box {
  position: relative;
  background: #fff;
  border: 2px solid;
  padding: 0 18px 18px;
  border-radius: 6px;
}

.why_box .ttl_fy {
  font-size: 114%;
  top: -14px;
  font-weight: 700;
}
.why_box .fukidashi_yellow {
  margin: -20px auto 20px;
}

ul.why_list li {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 10px 0;
  box-sizing: border-box;
}

ul.why_list img {
  width: 32%;
}
ul.why_list p {
  width: 64%;
  font-weight: 600;
}
ul.why_list p .ss {
  line-height: 1.4;
  display: block;
}

.why_bottom {
  position: relative;
  padding: 30px 0 0;
}

.why_bottom p {
  font-weight: 700;
  font-size: 123%;
  width: fit-content;
  margin-left: auto;
}

.why_img {
  position: absolute;
  top: 16px;
  left: 0;
  width: 45%;
}

/*--------------------------------------
  Select
--------------------------------------*/
.slash.slash_red::before,
.slash.slash_red::after {
  background-image: url(/images/slash_red.webp);
}
.sel_ttl {
  text-align: center;
  font-size: 125%;
  font-weight: 700;
  margin-bottom: 26px;
}

ul.check_list {
}

ul.check_list li {
  position: relative;
  line-height: 1.5;
  margin-bottom: 15px;
  padding-left: 1.6rem;
  font-weight: 600;
}
ul.check_list li::before {
  content: '';
  position: absolute;
  left: 0;
  top: 2px;
  width: 18px;
  height: 18px;
  background: url(/images/ico_check.webp) no-repeat;
  background-size: contain;
  background-position: center;
}
.sel_box {
  box-sizing: border-box;
  background: #fff;
  padding: 24px 18px 18px;
  border-bottom: 6px;
  border: 2px solid;
  border-radius: 7px;
  margin-bottom: 20px;
}
.sel_bottom {
  position: relative;
}

.cha_2 {
  position: absolute;
  width: 46%;
  right: 0;
  top: 10%;
}
.cha_3 {
  width: 42%;
  position: absolute;
  left: 0;
  bottom: 5%;
}
.sel_txt1 {
  margin-bottom: 28%;
  font-weight: 700;
  font-size: 120%;
}
.sel_txt2 {
  font-size: 102%;
  font-weight: 700;
  width: fit-content;
  margin-left: auto;
  padding-bottom: 8%;
}

/*--------------------------------------
  Reason
--------------------------------------*/
#reason {
}
ul.reason {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  position: relative;
}

ul.reason li {
  background: #fff;
  border: 3px solid;
  box-sizing: border-box;
  padding: 12px 10px 18px;
  width: 49%;
  margin-bottom: 10px;
  position: relative;
}

ul.reason h3 {
  color: var(--color-red);
  font-weight: 700;
  font-size: 97%;
  text-align: center;
  line-height: 1.3;
  margin-bottom: 10px;
}
ul.reason p {
  display: block;
  font-size: 78%;
  margin: 0 auto;
}
.wt_l.rea_lb {
  position: absolute;
  top: -8px;
  left: -5px;
  margin: 0;
}

/*--------------------------------------
  works
--------------------------------------*/

.works_box {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 20px;
  align-items: center;
}
.works_ttl {
  width: 100%;
  margin-bottom: 12px;
  font-weight: 600;
  font-size: 114%;
}
.wt_l {
  display: inline-block;
  width: 22px;
  height: 22px;
  background: var(--color-yellow);
  border: 2px solid;
  box-sizing: border-box;
  text-align: center;
  vertical-align: middle;
  border-radius: 50%;
  line-height: 19px;
  font-weight: 600;
  margin-right: 3px;
}
.works_l {
  width: 30%;
  box-sizing: border-box;
}

.works_r {
  width: 66%;
  box-sizing: border-box;
}
.works_r p {
  font-size: 93%;
}

.ba_ttl {
  text-align: center;
  font-size: 120%;
  font-weight: 700;
  margin-bottom: 18px;
  margin-top: 20px;
}
.ba_ttl .slash::before,
.ba_ttl .slash::after {
  background-image: url(/images/slash_red.webp);
}
.ba_box {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.ba_l {
  width: 52%;
  box-sizing: border-box;
}

.ba_r {
  width: 45%;
  box-sizing: border-box;
}

.ba_r h3 {
  font-weight: 600;
  font-size: 134%;
}

.ba_r p {
  font-size: 87%;
}
.arrow_red {
  display: block;
  margin: 16px auto;
  width: 50px;
}

#warning {
  background: #f2d211;
  position: relative;
  padding: 60px 0;
}
.war_line_top,
.war_line_bottom {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 100vw;
  height: 38px;
  background: url(/images/war_line.webp) repeat-x;
  background-position: center;
  background-size: contain;
}
.war_line_bottom {
  bottom: 0;
  top: auto;
}

/*--------------------------------------
  review
--------------------------------------*/
#review {
}
.fukidashi_yellow {
  display: block;
  margin: 0 auto 30px;
  width: 70%;
}
.ttl_fy {
  text-align: center;
  font-weight: 600;
  font-size: 7vw;
  position: absolute;
  top: 1px;
  left: 0;
  right: 0;
  margin: auto;
}

ul.review {
}

ul.review li {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background: #fff;
  border: 2px solid;
  margin-bottom: 20px;
  border-radius: 6px;
  box-sizing: border-box;
  padding: 10px;
}
.rev_l {
  width: 26%;
  box-sizing: border-box;
}
.rev_r {
  width: 71%;
  box-sizing: border-box;
}
.rev_l p {
  font-size: 70%;
  text-align: center;
}
ul.review h3 {
  font-weight: 600;
  font-size: 90%;
  margin-bottom: 10px;
}
.rev_txt {
  font-size: 85%;
}

/*--------------------------------------
  Plan
--------------------------------------*/
#plan .inner {
  z-index: 1;
}
#plan::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 200px;
  background: url(/images/bg_dot.webp) no-repeat;
  background-position: center top;
  background-size: cover;
  transform: scale(1, -1);
  z-index: 0;
}

.fukidashi_white {
  display: block;
  margin: 0 auto 25px;
  width: 80%;
}
.plan_ttl {
  font-weight: 800;
  line-height: 1.4;
  text-align: center;
  font-size: 8.6vw;
  position: absolute;
  top: 1.5%;
  left: 0;
  right: 0;
  margin: auto;
}
.slash.sl_red::before,
.slash.sl_red::after {
  background-image: url(/images/slash_red.webp);
}
.truck {
  position: absolute;
  width: 30%;
  top: 7.5%;
  right: 0;
}
.plan_ttl2 {
  text-align: center;
  font-size: 5vw;
  font-weight: 800;
}
.komikomi {
  display: block;
  width: fit-content;
  margin: 10px auto;
  background: var(--color-yellow);
  border: 3px solid;
  padding: 2px 14px;
  font-size: 170%;
}
ul.plan_point {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 14px;
}
.plan_point li {
  width: 32%;
  text-align: center;
  background: var(--color-orange);
  border: 2px solid;
  margin-bottom: 6px;
  font-weight: 600;
  padding: 5px 0;
  border-radius: 7px;
  box-sizing: border-box;
}
ul.plan_list {
  margin-top: 50px;
}

ul.plan_list li {
  background: #fff;
  border: 3px solid;
  margin-bottom: 40px;
  text-align: center;
  padding: 30px 0 10px;
  position: relative;
}
ul.plan_list h3 {
  position: absolute;
  top: -23px;
  left: 0;
  right: 0;
  margin: auto;
  width: 90%;
  background: #a0e978;
  font-size: 6vw;
  font-weight: 800;
  border: 3px solid;
  box-sizing: border-box;
}
ul.plan_list li:nth-child(2) h3 {
  background: #86dcff;
}
ul.plan_list li:nth-child(3) h3 {
  background: #ff8d95;
}
ul.plan_list li:nth-child(4) h3 {
  background: var(--color-orange);
}
ul.plan_list li:nth-child(5) h3 {
  background: var(--color-yellow);
}
.price {
  font-size: 7vw;
  font-weight: 600;
  line-height: 1.5;
}

.price span {
  font-size: 160%;
}
.fabric {
  display: block;
  margin: 0 auto;
  width: 80%;
}

/*--------------------------------------
  キャンペーン
--------------------------------------*/
#campaign {
  background-image: url(/images/cloud_orange.webp);
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center top;
}
#campaign::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--color-beige);
  z-index: -1;
}
#campaign .ttl_fy {
  font-size: 5.8vw;
  top: 4px;
}
.cp_ttl {
  text-align: center;
  font-size: 6vw;
  font-weight: 600;
  border: 1px solid;
  border-width: 2px 0;
  padding: 5px 0;
  width: 89%;
  margin: 0 auto 20px;
}
.cp_ttl2 {
  text-align: center;
  font-size: 6vw;
  font-weight: 600;
  line-height: 1.5;
  margin-bottom: 20px;
}

/*--------------------------------------
  secret
--------------------------------------*/

#secret {
  background-image: url(/images/cloud_blue.webp);
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center top;
}
#secret .fukidashi_yellow {
  margin-bottom: 5px;
}

.secret_h3 {
  font-weight: 600;
  font-size: 5.4vw;
  margin-bottom: 50px;
}
ul.point li {
  position: relative;
  margin-bottom: 50px;
}
ul.point li:last-child {
  margin-bottom: 0;
}
ul.point li h3 {
  text-align: center;
  font-weight: 600;
  font-size: 6vw;
  margin: 10px 0 5px;
}
.point_img {
  border: 3px solid;
  box-sizing: border-box;
}
.point_label {
  width: 65px;
  height: 65px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--color-yellow);
  border: 3px solid;
  border-radius: 50%;
  position: absolute;
  top: -30px;
  left: -8px;
}

.point_label p {
  font-weight: 700;
  line-height: 1.1;
  font-size: 14px;
}
.point_label p span {
  display: block;
  font-size: 200%;
}

/*--------------------------------------
  Flow
--------------------------------------*/

.flow_top {
  position: relative;
  margin-bottom: 30px;
}
.flow_top h3 {
  position: absolute;
  top: 20px;
  left: 0;
  right: 0;
  margin: auto;
  text-align: center;
  font-weight: 700;
  font-size: 5.2vw;
  line-height: 1.4;
}
ul.flow {
  position: relative;
}
ul.flow::before {
  content: '';
  position: absolute;
  top: 0;
  left: 13%;
  width: 0;
  height: 98%;
  border-left: 5px dotted;
}

ul.flow li {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}
ul.flow li:last-child {
  margin-bottom: 0;
}
.flow_img {
  width: 28%;
  text-align: center;
  background: #fff;
  border: 3px solid;
  border-radius: 10px;
  padding: 2px 0 5px;
  box-sizing: border-box;
}
.step {
  display: block;
  font-size: 88%;
  font-weight: 600;
}
.icon_flow {
  display: block;
  margin: 0 auto;
  width: 60px;
}

.flow_content {
  width: 66%;
}
.flow_content h4 {
  font-weight: 700;
  font-size: 120%;
}

.flow_bottom {
  position: relative;
  margin-top: 30px;
}
.flow_bottom p {
  position: absolute;
  top: 23%;
  left: 14%;
  font-size: 6vw;
  font-weight: 600;
  line-height: 1.5;
}

/*--------------------------------------
  掃除メニュー
--------------------------------------*/

ul.pr_menu_list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

ul.pr_menu_list li {
  width: 49%;
  box-sizing: border-box;
  margin-bottom: 30px;
}

ul.pr_menu_list li h3 {
  font-weight: 600;
  text-align: center;
  font-size: 3.8vw;
  margin: 10px 0 5px;
}
ul.pr_menu_list li p {
  width: fit-content;
  margin: 0 auto;
  font-weight: 500;
}

/*--------------------------------------
  LINE coupon
--------------------------------------*/
.ttl_coupon {
  width: 80%;
  margin: 42px auto 14px;
}
.coupon_h3 {
  text-align: center;
  font-weight: 600;
  font-size: 116%;
  margin-bottom: 13px;
}

/*--------------------------------------
  FAQ
--------------------------------------*/

dl.qa {
  border: 1px solid #d3d3d3;
  border-width: 0 0 1px;
  padding: 12px 0;
}
dl.qa dt {
  position: relative;
  padding-left: 38px;
  cursor: pointer;
}
dl.qa dd {
  position: relative;
  display: none;
  padding-left: 38px;
  padding-top: 16px;
}
dl.qa h3 {
  font-weight: 600;
  font-size: 108%;
}

dl.qa dt::before,
dl.qa dd::before {
  content: 'Q';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  background: var(--color-yellow);
  font-weight: 600;
  font-size: 20px;
  width: 28px;
  height: 28px;
  line-height: 24px;
  border-radius: 50%;
  border: 2px solid;
  text-align: center;
}
dl.qa dd::before {
  content: 'A';
  background: var(--color-orange);
  top: 16px;
  bottom: auto;
}
dl.qa dt::after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  width: 15px;
  height: 15px;
  background: url(/images/ico_plus.webp) no-repeat;
  background-position: center;
  background-size: contain;
  transition: all.2s ease;
}
dl.qa dt.active::after {
  background-image: url(/images/ico_minus.webp);
}
.faq_img {
  display: block;
  margin: 40px auto 0;
}

/*--------------------------------------
  float
--------------------------------------*/
#float {
  width: 100%;
  z-index: 9;
}
#float .inner {
  width: 80%;
}

/*--------------------------------------
  footer
--------------------------------------*/
#footer {
  text-align: center;
  background: var(--color-bk);
  color: #fff;
  font-size: 13px;
  padding: 13px 0;
}

@media screen and (min-width: 768px) {
  body {
    font-size: 18px;
  }

  #header h1 {
    font-size: 20px;
  }
  #fv {
    padding: 30px 0;
    background-size: cover;
    background-position: center;
  }
  .fv_inner {
    width: 620px;
  }
  .fv_h1 {
    margin-bottom: 15px;
  }
  .fv_cta {
    width: 520px;
  }
  .cta_btn a {
    font-size: 32px;
    padding: 20px 0 20px 8%;
  }
  .cta_btn a::after {
    width: 30px;
    height: 30px;
  }
  .cta_ttl_fv {
    font-size: 26px;
  }
  .cta_txt {
    font-size: 26px;
  }

  .ttl {
    font-size: 48px;
  }

  .inner {
    width: 580px;
  }
  .contents_block {
    padding: 64px 0;
  }

  ul.check_list li {
    font-size: 30px;
    padding-left: 40px;
    margin-bottom: 24px;
  }

  ul.check_list li::before {
    width: 32px;
    height: 32px;
  }
  .exp_txt2 {
    font-size: 37px;
  }
  .exp_txt1 {
    font-size: 26px;
    top: -33px;
  }
  .reason_img {
    width: 140px;
  }
  .ttl_fy {
    font-size: 42px;
  }

  .rev_meta {
    padding-left: 90px;
  }
  .dot::before,
  #plan::after {
    height: 370px;
    background-size: contain;
    background-repeat: repeat-x;
  }
  .plan_ttl {
    font-size: 54px;
  }
  .plan_ttl2 {
    font-size: 30px;
  }

  ul.plan_list h3 {
    font-size: 28px;
    width: 380px;
  }
  .price {
    font-size: 42px;
  }
  .fabric {
    width: 340px;
  }

  .cp_ttl {
    font-size: 34px;
  }
  .cp_ttl2 {
    font-size: 38px;
  }
  #campaign .ttl_fy {
    font-size: 36px;
    top: 10px;
  }
  .cta_ttl {
    font-size: 28px;
    margin-bottom: 20px;
  }

  .secret_h3 {
    font-size: 27px;
  }
  ul.point li h3 {
    font-size: 36px;
  }
  .flow_top h3 {
    font-size: 32px;
    top: 40px;
  }
  .flow_bottom p {
    font-size: 38px;
  }
  .icon_flow {
    width: 94px;
  }

  .slash.sl_yellow {
    padding: 0 40px;
  }
  .slash.sl_yellow::before,
  .slash.sl_yellow::after {
    width: 60px;
    height: 66px;
  }
  #recommend::after,
  #exp::after {
    height: 150px;
  }
  #exp {
    padding-top: 200px;
  }

  .fv_line_txt {
    font-size: 32px;
    top: -1px;
    right: -30px;
  }
  .fv_bike1 {
    width: 55%;
    left: -5%;
  }
  .nomal_pr {
    padding: 15px 22px;
  }

  .nomal_pr p {
    font-size: 120%;
  }
  .cp_pr {
    font-size: 200%;
    font-weight: 700;
    margin-top: 40px;
  }
  .cp_ttl3.cp_txt3 {
    font-size: 158%;
    margin-top: 28px;
  }
  .label_off {
    right: -39%;
    width: 47%;
    bottom: -37%;
  }
  .ttl_fy.rec_t {
    font-size: 38px;
    top: 9px;
  }

  .box_white {
    padding: 30px;
    border-width: 3px;
  }

  ul.check_list li {
    font-size: 24px;
    padding-left: 40px;
    margin-bottom: 24px;
    margin-top: 14px;
  }
  .award_txt1 {
    font-size: 110%;
    line-height: 2;
    padding-top: 80px;
  }
  .trophy {
    top: 11%;
  }
  .why_box .ttl_fy {
    font-size: 29px;
    top: -7px;
  }
  .why_box {
    padding: 0 34px 20px;
  }
  ul.why_list p {
    font-size: 107%;
  }
  .why_list img {
    width: 28%;
  }
  ul.why_list li {
    align-items: center;
  }
  .why_bottom p {
    font-size: 172%;
    line-height: 2;
  }
  .sel_box {
    padding: 20px 34px 8px;
  }
  .sel_txt1 {
    font-size: 168%;
  }
  .sel_txt2 {
    font-size: 143%;
  }
  ul.reason h3 {
    font-size: 110%;
    line-height: 1.6;
  }
  ul.reason li {
    padding: 25px 20px 18px;
  }
  .wt_l {
    width: 34px;
    height: 34px;
    line-height: 30px;
  }
  .wt_l.rea_lb span {
    font-size: 124%;
  }
  ul.pr_menu_list li h3 {
    font-size: 22px;
  }
  ul.review li {
    padding: 20px;
  }
  ul.review h3 {
    font-size: 120%;
  }

  #float .inner {
    width: 80%;
    width: 520px;
  }
}
